*.ppu
*.ppl
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.app
*.out
/lib/
/backup/
*.compiled
*.lps
*.lpi
*.lpi.bak
*.lpi~
*.lfm~
*.pas~
*.ppu~
*.or
*.res
*.rsj
*.lrt
*.dbg
*.lrs
*.lrj
.fp
*.sh
/testbarev
